$o-partner-org-chart-bg: white !default;
$o-partner-org-chart-border-color: $o-brand-secondary !default;

$o-partner-org-chart-entry-v-gap: 6px !default;
$o-partner-org-chart-entry-pic-size: 46px !default;
$o-partner-org-chart-entry-line-w: 1px !default;
$o-partner-org-chart-entry-border-color: darken($o-partner-org-chart-bg, 25%) !default;

// MIXINS
@mixin o-partner-org-chart-line {
    content: '';
    background-color: $o-partner-org-chart-bg;
    border: 0px solid $o-partner-org-chart-entry-border-color;
}
